* {
    font-family: 'Lato', sans-serif;
}


.content-box {
    position: relative;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

.content-box--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-box--trip, .content-box--prefecture {
    max-width: 1260px;
}

.link-figure {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  HERO  */
.Hero {
    background-image: url("../assets/images/bg/bg-header.png");
    height: 127vh;
    background-size: cover;
    position: relative;
}

.Hero::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%);
}

/* header-page */
.header-page__content {
    padding-top: 55px;
}

.header-page__nav {
    max-width: 490px;
    width: 100%;
}

.header-page__list {
    display: flex;
    justify-content: space-between;
}

.header-page__link {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.header-page__link:hover {
    color: #1B7DFF;
}

/* primary (MAIN) */
.primary {
    padding-top: 180px;
}

.primary__title-page {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFF;
    width: 619px;
}

.primary__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 545px;
    margin-top: 22px;
    margin-bottom: 60px;
}

/* form-search */
.form-search {
    max-width: 886px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.form-search input {
    max-width: 300px;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    position: relative;
    background-image: url("../assets/images/svg/Oval.svg");
    background-position-y: 50%;
    background-repeat: no-repeat;
    padding-left: 30px;
    outline: none;
}
.form-search input:hover {
    border-bottom: 2px solid #FFF;
}

.form-search input:focus {
    border-bottom: 2px solid #FFF;
}

.form-search input::placeholder {
    text-align: center;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    position: relative;
}

.form-search button {
    width: 171px;
    height: 58px;
    border: 0;
    background-color: #1B7DFF;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.form-search button:hover {
    opacity: .8;
}


/* Benefits */
.Benefits {
    max-width: 1262px;
    margin: 0 auto;
    position: relative;
    top: -185px;
    background: #FFFFFF;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
    padding-top: 93px;
    padding-bottom: 112px;
}

.Benefits__title {
    margin-bottom: 70px;
}

.Benefits__content {
    display: flex;
    justify-content: space-between;
}

.Benefits__item {
    display: flex;
    flex-direction: column;
}


.Benefits__item img {
    width: 40px;
    margin-bottom: 27px;
}

.Benefits__item span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.Benefits__item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 315px;
}

.Benefits__item a {
    width: 161px;
}

.link-arrow {
    background-image: url(../assets/images/svg/Shape.svg);
    width: 35px;
    height: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    transition: all .3s;
    animation: .5s ease-in-out infinite;
}
.link-figure:hover {
    color: #266fff;
}
.link-figure:hover .link-arrow{
    animation-name: arrow-right;
}

/* Trip */
.Trip {
    padding-bottom: 65px;
}

.Trip__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Trip__title {
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
}

.Trip__title::after {
    content: "";
    display: block;
    max-width: 252px;
    height: 2px;
    background-color: #006DFE;
    margin-top: 9px;
}

.Trip__header a {
    width: 131px;
}

.Trip__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px;
}

.Trip__content div {
    display: flex;
    margin-bottom: 10px;
}

.Trip__item {
    position: relative;
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
}

.Trip__item figcaption {
    position: absolute;
    bottom: 27px;
    left: 30px;
    right: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    z-index: 99;
    transition: all .3s;
    cursor: default;
}

.Trip__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(21, 24, 36, 0.4);
}

.Trip__item:hover:after {
    display: none;
}

.Trip__item:hover figcaption {
    top: 50%;
    left: 50%;
    transform: translate(-35%, -25%);
}

.Trip__item img {
    width: 100%;
    height: 100%;
}

.Trip__item--1 {
    max-width: 615px;
    margin-right: 5px;
}

.Trip__item--2 {
    max-width: 635px;
    margin-left: 5px;
}

.Trip__item--3 {
    max-width: 415px;
    margin-right: 5px;
}

.Trip__item--4 {
    max-width: 415px;
    margin: 0 4px;
}

.Trip__item--5 {
    max-width: 411px;
    margin-left: 5px;
}

/* Prefecture */
.Prefecture {
    padding-top: 65px;
    padding-bottom: 65px;
}

.Prefecture-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Prefecture-content--2 {
    margin-top: 77px;
    flex-direction: row-reverse;
}

.Prefecture-content__description {
    max-width: 519px;
}

.Prefecture-content--2 .Prefecture-content__description .Prefecture-content__title {
    max-width: 357px;
}

.Prefecture-content__description .Prefecture-content__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
}

.Prefecture-content__description .Prefecture-content__text {
    margin-top: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #102746
}


.Prefecture-content--2 .Prefecture-content__description .link-figure {
    max-width: 240px;
    width: 100%;
    margin-top: 95px;
}

.Prefecture-content--1 .Prefecture-content__description .link-figure {
    margin-top: 60px;
}














@keyframes arrow-right {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}